extends layout

block content
    #bloghead
    #blog
        p Blog
        p
            a(href='/blog/new/') new
        #articles
            each article in articles
                - if (article) 
                  div.article
                    div.created_at= getDate(article.created_at)
                    div.title 
                        a(href="/blog/"+article.id+"/")!= article.title
                    div.body= article.body
                - else 
                  p no value
    
