extends layout

block header
            h1 About Me
block content
    #about
        p Dmitry Branitskiy is a web developer. He is known for LionFace startup.
        p He currently lives and works in Russia.
        p You can find Dmitry on:
        ul
            li odesk
            li facebook
            li linkedin
