extends layout

block header
            h1 About Me
block content
    #about
        p Dmitry Branitskiy is a web developer. He graduated as Automated control systems engineer. And worked in various computer-oriented fields after that. He has strong programming and adminisration background, perfectiionistic attitude to own work and affection towards minimalism in design. 
        p Dmitry currently lives in Russia and works as a freelancer.
        p You can contanct him through:
        ul
            li 
                span#odesk.icon 
                span#odeskwhite.iconinverted 
                a.linkaway(href='#', target='_blank') Odesk
            li 
                span#github.icon 
                span#githubwhite.iconinverted 
                a.linkaway(href='#', target='_blank') Github
            li 
                span#facebook.icon 
                span#facebookwhite.iconinverted 
                a.linkaway(href='#', target='_blank') Facebook
            li 
                span#skype.icon 
                span#skypewhite.iconinverted 
                a.linkaway(href='#', target='_blank') Skype
            li 
                span#linkedin.icon 
                span#linkedinwhite.iconinverted 
                a.linkaway(href='#', target='_blank') Linkedin
            li 
                span#message.icon 
                span#messagewhite.iconinverted 
                a.linkaway(href='#', target='_blank') Message
