extends layout

block header
            h1 About Me
block content
    #about
        p Dmitry Branitskiy is a full-stack web developer. He graduated as Automated Control Systems engineer and worked in various computer-related fields after that. He has strong programming skills, devops background, perfectionistic attitude to own work and affection towards minimalism in design.
        p His main skills are:
        ul#skills 
            li Programming:
                div
                    i Python, Javascript, PHP, Delphi, C++.
            li Frameworks:
                div
                    i Django, Flask, AngularJS, jQuery, Node.js.
            li Databases:
                div 
                    i MySQL, PostgreSQL, Redis, MongoDB.
            li API:
                div
                    i Amazon, Google, Facebook, Twitter, Heroku.
            li Environments:
                div 
                    i Linux/Unix, Mac, iOS (SDK), Android (SDK).
        p Dmitry currently lives in Crimea and works as a freelancer. In case you want to hire him, CV is available 
            a(href="https://docs.google.com/document/d/12mcGHgmuuXkEd0GhV2A-x9PpOx6XPXG3VANJJXbS2t4/edit?usp=sharing", target="_blank") here
            | .
        p Or you can contanct him through:
        ul#contact
            li 
                //span#odesk.icon 
                //span#odeskwhite.iconinverted 
                i.icon-user
                a.linkaway(href='https://www.odesk.com/users/~0178e16620506a0d56', target='_blank') Odesk
            li 
                //span#github.icon 
                //span#githubwhite.iconinverted 
                i.icon-github-alt
                a.linkaway(href='https://github.com/B1aZer', target='_blank') Github
            li 
                //span#linkedin.icon 
                //span#linkedinwhite.iconinverted 
                i.icon-linkedin-sign
                a.linkaway(href='http://www.linkedin.com/in/dbran', target='_blank') Linkedin
            li 
                //span#skype.icon 
                //span#skypewhite.iconinverted 
                i.icon-phone-sign
                a.linkaway(href="skype:pe4ene4ko?chat") Skype
            li 
                //span#facebook.icon 
                //span#facebookwhite.iconinverted 
                i.icon-facebook-sign
                a.linkaway(href='https://www.facebook.com/dmitry.branitskiy', target='_blank') Facebook
            li 
                //span#message.icon 
                //span#messagewhite.iconinverted 
                i.icon-envelope-alt
                a#modal-link.linkaway(href='#') Message

        #modal-send-message
            #message-text
                textarea
            button#send-button send
            button.simplemodal-close cancel
block footer
    script
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'UA-39873348-1', 'dbran.me');
          ga('send', 'pageview');
    
