doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    #container
        #header
            block header
        #left
            ul 
                - if (!locals.user)
                    li.login: a(href='/login/') Login
                li: a(href='/') About
                li: a(href='/blog/') Blog
                - if (locals.user)
                    li: a(href='/blog/new/') New
                li: a(href='#') SomeStuff
        #main
            #right
                #content
                    block content
            #footer
