doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript', src='/javascripts/vendor/jquery-1.9.0.min.js')
    script(type='text/javascript', src="/javascripts/vendor/jquery.simplemodal.1.4.4.min.js")
    script(type='text/javascript', src='/javascripts/main.js')
  body
    #container
        #header
            block header
        #left
            a#photolink(href='/login/') 
                #photo
            ul 
                li: a(href='/') About
                li: a(href='/blog/') Blog
                - if (locals.user)
                    li: a(href='/blog/new/') New
                li: a(href='#') SomeStuff
        #main
            #right
                #content
                    block content
            #footer
