doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    #container
        #header
            p H<span class='whitel' >i</span> Th<span class='whitel' >e</span>r<span class='whitel' >e</span>! M<span class='whitel' >y</span> n<span class='whitel' >a</span>me <span class='whitel' >i</span>s <span class='whitel' >Dmitry</span>. 
            p Welocme to my space.
        #left
            ul 
                li: a(href='/') About
                li: a(href='/blog/') Blog
                li: a(href='#') SomeStuff
        #main
            #right
                block content
            #footer
