doctype 5
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel="stylesheet", href="/stylesheets/font-awesome.min.css")
    <!--[if IE 7]>
    link(rel="stylesheet", href="/stylesheets/font-awesome-ie7.min.css")
    <![endif]-->
  body
    #container
        #header
            block header
        #left
            #inner-left
                a#photolink(href='/login/') 
                    #photo
                ul 
                    li
                        div.cover
                            i.icon-question-sign
                            a(href='/') About
                    li
                        div.cover
                            i.icon-book
                            a(href='/blog/') Journal
                    li
                        div.cover
                            i.icon-folder-open
                            a(href='/projects/') Portfolio
                    - if (locals.user)
                        li 
                            div.cover
                                i.icon-file
                                a(href='/blog/new/') New
                //span#node Built with 
                    a(href="http://nodejs.org/", target="_blank") Node.js
        #main
            #right
                #content
                    block content
            #footer
                    block footer
    // bottom scripts
    script(type='text/javascript', src='/javascripts/vendor/jquery-1.9.0.min.js')
    script(type='text/javascript', src="/javascripts/vendor/jquery.simplemodal.1.4.4.min.js")
    script(type='text/javascript', src='/javascripts/main.js')
