extends layout

block header
            h1 About Me
block content
    table#table1(border='1', bordercolor='#FFCC00', style='background-color: #FFFFFF;')
        tbody
              tr
                th Header Cell
                td Table Cell 1
                td Table Cell 1
                td Table Cell 1
              tr
                th Header Cell
                td Table Cell 2
                td Table Cell 2
                td Table Cell 2
    p
    table#table2(border='1', bordercolor='#FFCC00', style='background-color: #FFFFFF;')
        thead
              tr
                th Header Cell
                th Header Cell
                th Header Cell
        tbody
              tr
                td Table Cell 1
                td Table Cell 1
                td Table Cell 1
              tr
                td Table Cell 2
                td Table Cell 2
                td Table Cell 2
