html
  head
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript', src='/javascripts/vendor/jquery-1.9.0.min.js')
    script(type='text/javascript', src='/javascripts/test.js')
  body
    table#table1(border='1', bordercolor='#FFCC00', style='background-color: #FFFFFF;')
        tbody
              tr
                th Header Cell
                td Table Cell 1
                td Table Cell 1
                td Table Cell 1
              tr
                th Header Cell
                td Table Cell 2
                td Table Cell 2
                td Table Cell 2
    p
    table#table2(border='1', bordercolor='#FFCC00', style='background-color: #FFFFFF;')
      th Header 1
      th Header 1
      th Header 1
      th Header 1
      td Cell 1
      td Cell 1
      td Cell 1
      td Cell 1
      td Cell 2
      td Cell 2
      td Cell 2
      td Cell 2
      td Cell 3
      td Cell 3
      td Cell 3
      td Cell 3
      td Cell 4
      td Cell 4
      td Cell 4
      td Cell 4

