/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
  font-family: HeaderFont;
  src: url('../fonts/HeaderFont.ttf');
}

html {
    height: 100%;
    position: relative;
    width: 900px;
    margin: auto;
}    

body {
    font: 16px Palatino, 'Palatino Linotype', Georgia, Times, 'Times New Roman', serif;
    /*background-color: #e7e7e2;*/
    background-color: #eee;

    position: absolute;
    height: 100%;
    
}

#container {
    width: 900px;
    background-color: #fff;
    /*background-image: -webkit-linear-gradient(bottom, rgb(235,235,235) 30%, rgb(214,214,214) 90%);*/
    /*background-image: url('http://static3.grsites.com/archive/textures/lgrey/lgrey008.jpg') ;*/
    padding: 20px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    /* left frame */
    /*margin: 0;*/
    padding: 0;
    overflow: hidden;
    /*height: 100%; */
    min-height: 100%; 
    max-height: 100%; 
    /**/
    position:relative;
    /* shadow */
    -moz-box-shadow: 0px 0px 8px #999;
    -webkit-box-shadow: 0px 0px 8px #999;
    box-shadow: 0px 0px 8px #999;
    
}

#header {
    font: 22px Georgia;
    /*color:§ #e7e7e2;*/
    color: #888;
    /*margin-bottom: 20px;*/
    /*text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;*/
    text-shadow: -1px 0 #555;
    background: rgba(255,255,255,0.95);
    position: absolute;
    width: 684px;
    left: 201px;
    z-index:100;
    border-bottom: 1px solid #eee;
}

#header h1 {
    margin: 0;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 5px;
    
}

/* Left column */

#left {
    /*width: 20%;*/
    width: 15%;
    float: left; 
    /*background-color: #555;*/
    /* left frame */

    position: absolute;
    /*top: 60px;*/
    bottom: 0; 
    left: 0;
    width: 200px; /*Width of frame div*/
    height: 100%;
    /*overflow: /*hidden; /**//*Disable /*scrollbars. /*Set /*to /*"scroll" /*to /*enable*/
}

#inner-left {
    padding-top: 60px;
}

#left a:link, #left a:active,  #left a:visited {
    text-decoration:none;
    color: #bbb;
    font-size: 24px;
    font-family: Georgia;
}

#left a:hover {
    text-decoration:none;
    color: #333;
}

#left .login a {
    color: #eee;
}

#left ul {
    list-style: none;
}

#left ul li {
    height: 30px;
}

#left .cover:hover {
    border-right: 1px solid #eee;
    width: 140px;
    box-shadow: 5px 0px 1px #eee;
    -moz-box-shadow: 5px 0px 1px #eee;
    -webkit-box-shadow: 5px 0px 1px #eee;
}

#photo {
    width: 145px;
    height: 200px;
    position: relative;
    overflow: hidden;
    left: 30px;
    top: -40px;

    /* borders */

    -webkit-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px, inset rgba(0,0,0,0.2) 0px -1px 2px;
     -khtml-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px, inset rgba(0,0,0,0.2) 0px -1px 2px;
       -moz-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px, inset rgba(0,0,0,0.2) 0px -1px 2px;
        -ms-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px, inset rgba(0,0,0,0.2) 0px -1px 2px;
         -o-box-shadow: rgba(0,0,0,0.2) 0px 1px 2px, inset rgba(0,0,0,0.2) 0px -1px 2px;
            box-shadow: rgba(0,0,0,0.2) 0px 1px 2px, inset rgba(0,0,0,0.2) 0px -1px 2px;
    -webkit-border-radius: 10px;
     -khtml-border-radius: 10px;
       -moz-border-radius: 10px;
        -ms-border-radius: 10px;
         -o-border-radius: 10px;
            border-radius: 10px;
}

#photo:before {
    content: "";
	position: absolute;
    right: -26px;
	width: 200px;
	height: 194px;
    /*top: -50%;*/
    /*left: -50%;*/
    /*z-index: -1;*/
	background: url('../images/profile_bnw2_small.png');
    background-size: 200px 200px;
    background-repeat: no-repeat;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
    border: 1px solid #555;
}

#photolink {
    cursor: default;
}

/* Icons */

#left li i {
    font-size: 24px;
    color: #999;
    margin-right: 5px;
}

#left ul {
    padding-left:30px;
}

#left #node, #left #node a {
    font-size: 12px;
    font-family: Georgia;
    
}

#left #node {
    position: absolute;
    bottom: 0;
    left 0;
    padding-left:30px;
}


/* Main section */

#main {
    position: absolute;
    top: 0; 
    left: 200px; /*Set left value to WidthOfFrameDiv*/
    right: 0;
    bottom: 0;
    overflow: auto; 
    background: #fff;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}    

#content {
    margin-top: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

#right {
    width: 100%;
    float: right;
}

#footer {
    clear: both;
}

/* About */

#about p:first-letter {
    font-size:200%;
    line-height: 0;
}

#about ul {
    list-style-type: none;
    width: 300px;
}

#about li {
    width:50%;
    float: left;
    height: 20px;
}

#about li i {
    color: #999;
    margin-right: 5px;
}

#about #skills {
    width: 600px;
    height: 80px;
}

#about #skills li {
    width:20%;
}

.icon {
    display: block;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
    background-size: 14px 14px;
    background-color: #222;
    
}

.iconinverted {
    display: none;
    width: 14px;
    height: 14px;
    float: left;
    margin-right: 5px;
    background-size: 14px 14px;
}

#message {
    background-color: #fff;
}
#messagewhite {
    background-color: #222;
}

#odeskwhite {
    background-image: url('../images/glyphicons_450_odesk.png');
}
#skypewhite {
    background-image: url('../images/glyphicons_418_skype.png');
}
#facebookwhite {
    background-image: url('../images/glyphicons_410_facebook.png');
}
#messagewhite {
    background-image: url('../images/glyphicons_123_message_out_white2.png');
}
#linkedinwhite {
    background-image: url('../images/glyphicons_397_linked_in.png');
}
#githubwhite {
    background-image: url('../images/glyphicons_401_github.png');
}

#odesk {
    background-image: url('../images/glyphicons_450_odesk_white.png');
}
#skype {
    background-image: url('../images/glyphicons_418_skype_white.png');
}
#facebook {
    background-image: url('../images/glyphicons_410_facebook_white.png');
}
#message {
    background-image: url('../images/glyphicons_123_message_out.png');
}
#linkedin {
    background-image: url('../images/glyphicons_397_linked_in_white.png');
}
#github {
    background-image: url('../images/glyphicons_401_github_white.png');
}

/* Blog */

.title {
    /*border-bottom: 1px solid #eee;*/
    text-transform: capitalize;
    margin-left: 3px;
}

.title a {
    text-decoration:none;
    color: #222;
}

.body {
    text-indent: 5px;
    margin-bottom: 20px;
}

.meta {
    border-top: 1px solid #eee;
    padding-top: 10px;
    text-align: right;
    font-style: italic;
    font-size: 0.9em;
}

/* Single */

.single .body {
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.single .meta {
    float:right;
    border: 0;
    padding: 0;
}

.single .back {
    float:left;
}   

.single a {
    text-decoration:none;
    color: #bbb;
}

.single a:hover {
    color: #222;
}

.artilceheader {
    font: 22px Georgia;
    color: #888;
    text-shadow: -1px 0 #555;
    background: rgba(255,255,255,0.95);
    z-index: 100;
    border-bottom: 1px solid #eee;
    margin-top: -80px;
    margin-bottom: 24px;
    
}
.artilceheader h1 {
    margin: 0;
}
    

.article {
    margin-top:20px;
    margin-bottom:40px;
}

/* New Post */

#newpost label {
    width: 4em;
    float: left;
    text-align: right;
    margin-right: 0.5em;
    display: block
}    

#newpost input, #newpost textarea {
    width: 500px;
    font-family: Palatino;
    
}

#newpost div {
    margin-bottom: 20px;
}

#editArticleSubmit input {
    font-family: Geaorgia;
    width: 65px;
    margin-left: 71px;
    -moz-border-radius: 10px;  
     -webkit-border-radius: 10px;  
     border-radius: 10px; 

    background-color: #eee;
    border: 1px solid #bbb;
     
    
}

/* Projects */

#projects .project {
    width: 300px;
    float: left;
    margin-right: 10px;
    height: 400px;
}

#projects .project .content {
    border: 1px solid #eee;
    padding: 20px;
    height: 290px;
    position: relative;
}

#projects .project .content:hover {
    /*border: 1px solid #bbb;*/
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    box-shadow: 3px 3px 10px #ddd;
    -moz-box-shadow: 3px 3px 10px #ddd;
    -webkit-box-shadow: 3px 3px 10px #ddd;
}

#projects .project .content .link {
    display: none;
}

#projects .project .title, #projects .project .image, #projects .project .desc {
    margin-bottom: 10px;
    margin-top: 0;
}

#projects .project .desc span {
    font-size: small;
    /*font-style: italic;*/
}

#projects .project .tags {
    position: absolute;
    bottom: 10px;
}

#projects .tag-icons {
    font-size: 90%;
}
#projects .tag {
    margin-left: 5px;
}


/* Single */

#project .image {
    text-align: center;
    margin-bottom: 20px;
}

#project .image img {
    border: 1px solid #eee;
    padding: 20px;
    box-shadow: 0px 0px 5px #eee;
    -moz-box-shadow: 0px 0px 5px #eee;
    -webkit-box-shadow: 0px 0px 5px #eee;
}
#project .url {
    text-align:center;
}

#project .desctription {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin: 20px 0 20px 0;
}

#project .desctription p {
}
/* Custom */

.space {
    padding: 0 5px;
    border-left: 1px solid #eee;
    margin-left: 10px;
    
}

a {
    text-decoration: none;
    color: #bbb;
}

a:hover {
    color: #333;
}

/* Modal */

/* Overlay */
#simplemodal-overlay {background-color:#000;}
/* Container */
#simplemodal-container {
    height:260px; 
    width:500px; 
    color:#bbb; 
    background-color:#333; 
    border:4px solid #444;
    padding:12px;
}

#simplemodal-container a.modalCloseImg {
	background:url(/images/x.png) no-repeat; /* adjust url as required */
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#modal-send-message {
    display:none;
}

#simplemodal-container textarea {
    font-family: Georgia;
    width: 495px;
    height: 230px;
}

#simplemodal-container button {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #eee;
    margin-top: 5px;
    margin-right: 5px;
    
}

#simplemodal-container button:hover {
    background-color: #999;
    color: #eee;
    border: 1px solid #555;
}



/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
